/*
BUBLES & LEGEND
*/

.buble, .buble-being-removed{
    stroke-width: 0.5;
    stroke: #333333;    
}

.color-legend-rect, .buble, .bublebar{
    fill-opacity: 0.6;
}

.size-legend-circle{
    fill:white;
}

.size-legend-text{
    text-anchor: middle;
}

.size-legend-text, .color-legend-text, .color-gradient-text{
    font-size: 12px;
    fill: #444444;
}

.text-dim-label{
    font-size: 12px;
    fill: #777;
    text-anchor: middle;
}

/*
BOXPLOTS & SCATTERPLOT
*/

.boxplot-y-axis text{
    font-size: 10px;
    text-anchor: end;
}

.boxplot-ydim-label{
    font-size: 12px;
    fill: #777;
    text-anchor: end;
}

.boxplot-x-axis text{
    font-size: 10px;
    text-anchor: middle;
}

.boxplot-xdim-label{
    font-size: 12px;
    fill: #777;
    text-anchor: end;
}

.scatterplot-gray-zone{
    fill: #e1e1e1;
    opacity: 0.3;
}

/*
BLOB and BARS
*/

.blob-val{
    font-size: 20px;
    text-anchor: middle;
    fill: white;
}

.value-label, .item-label{
    font-size: 11px;
}
