body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height:100%;
}

/***************************************************
        MAIN 
***************************************************/

.fullheight{
    height:100vh;
}

#main-sidebar{
    position: absolute;
    top: 0;
    left: 0;
    width:220px;
}

#main-charts{
    position: absolute;
    top: 0;
    left: 220px;
    width:calc(100% - 220px);
}


/***************************************************
        CHART
***************************************************/

.chart-config{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
}

.logo, chart .chart-config-block, .filters-container{
    color: #eee;
}

.logo{
    font-size: 17px;
    font-weight: bold;
    padding-top: 14px !important;
    padding-left: 15px !important;
}

chart .chart-config, .logo{
    background-color: #211507;
    border-bottom: 2px solid #000;
}

.filters-container{
    background-color: #2D2419;
    border-right: 2px solid #000;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 10px;
    height:calc(100vh - 50px);
}

chart .chart-config, .logo{
    height: 50px;
    padding: 10px;
}

chart .chart-config-block, chart .help-text, chart .dropdown{
    float:left;
}

chart .chart-config-block{
    height: 30px;    
}

chart .svg-container{
    width:100%;
    height:calc(100% - 33px);
}

chart svg{
    width:calc(100% - 160px);
    height:100%;
    float:left;
    clear:both;
    padding: 50px;
}

chart .legend-container{
    float:left;
    width:99px;
    height:calc(100vh - 50px);
    padding-top: 50px;
}

chart .legend-container svg{
    width:100%;
    height:100%;
    padding: 30px 0px 0px 0px;
}

/***************************************************
        FILTERS
***************************************************/

.filters-container text{
    fill: #eee;
}

.filters-container line{
    stroke: #eee;
}

.filters-container .med-line{
    stroke: #2F2315 !important;
}

.filter-block{
    padding-bottom:15px;
}

.filter-checkbox-item rect{
    fill: #928A80;
}

.filter-checkbox-item text{
    fill: #eee;
}

.filter-checkbox-item text{    
    font-size: 12px;
    /*text-anchor: end;*/
}

.filter-checkbox-title{
    text-transform: uppercase;    
}

.filter-cancel-button{
    float:right;
    font-size: 9px;
    cursor: pointer;
    color: #D9953D;
}

g.filter-on rect{
    fill: #D9953D;
}

.brush .extent {
    fill: #D9953D;  
    fill-opacity: .25;
    shape-rendering: crispEdges;
}

.filter-boxplot-value{
    font-size: 12px;
    fill: #D9953D !important;  
}

.hidden {
    fill-opacity: 0;
}

/***************************************************
        STARTUP	
***************************************************/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.startup-step{
	margin-top: 5%;
}

.startup-step .btn{
	width: 180px;
	margin-right: 10px;
}

.record-count{
    font-weight: bold;
    font-size: 150%;
}

.features-list{
    padding-top:40px;
    padding-bottom:30px;
}

dimension-summary .dimension-name{
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

dimension-summary .dimension-name:hover{
    text-decoration: underline;
}

.dimension-summary-left{
    float:left;
    width:220px;
    text-align:right;
}

.dimension-summary-left, .dimension-summary-right{
    line-height:35px;
}

.dimension-hint{
    font-style: italic;
    font-size: 110%;
}