body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/***************************************************
        MAIN 
***************************************************/

.fullheight{
    height:100vh;
}

#main-sidebar{
    float:left;
    width:200px;
}

#main-charts{
    float:left;
    width:calc(100% - 200px);
    height:100%;
}


/***************************************************
        CHART
***************************************************/

chart .chart-config-block, chart .help-text, chart .dropdown{
    float:left;
}

chart .chart-config-block{
    height: 30px;
}

chart .svg-container{
    width:100%;
    height:calc(100% - 33px);
}

chart svg{
    width:calc(100% - 100px);
    height:100%;
    float:left;
    clear:both;
}

chart .legend-container{
    float:left;
    width:99px;
    height:100vh;
}

chart .legend-container svg{
    width:100%;
    height:100%;
    padding-top: 30px;
}

/***************************************************
        FILTERS
***************************************************/

.filter-checkbox-item rect{
    fill: steelblue;
    fill-opacity: 0.2;
}

.filter-checkbox-item text{
    fill: #333;
    font-size: 12px;
    /*text-anchor: end;*/
}

.filter-checkbox-title{
    font-weight: bold;
}

.filter-cancel-button{
    float:right;
    font-size: 9px;
    cursor: pointer;
    color: red;
}

g.filter-on rect{
    fill: red;
}

.brush .extent {
    fill: red;  
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.filter-boxplot-value{
    font-size: 12px;
    fill: red;  
}

.hidden {
    fill-opacity: 0;
}

/***************************************************
        STARTUP	
***************************************************/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.startup-step{
	margin-top: 5%;
}

.startup-step .btn{
	width: 180px;
	margin-right: 10px;
}

.record-count{
    font-weight: bold;
    font-size: 150%;
}

.features-list{
    padding-top:40px;
    padding-bottom:30px;
}

dimension-summary .dimension-name{
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

dimension-summary .dimension-name:hover{
    text-decoration: underline;
}

.dimension-summary-left{
    float:left;
    width:200px;
    text-align:right;
}

.dimension-summary-left, .dimension-summary-right{
    line-height:35px;
}

.dimension-hint{
    font-style: italic;
    font-size: 110%;
}