<div ng-controller="StartupCtrl" class="container" ng-show="state.visibility.startup">

	<div class="startup-step" ng-show="currentStep==='uploadData'">
		<div class="jumbotron">
			<h1 align="center">Welcome to GOC!</h1>

			<h2 align="center">A quick way to visually explore your data</h2>	  	

		</div>

		<h2>Load data from a...</h2>

		<div>

			<span class="btn btn-default btn-lg btn-file" href="#" role="button">File 
				<input type="file" accept="{{acceptedFileExtensions}}" onchange="angular.element(this).scope().loadDataFromFile(this, angular.element(this).scope().showDataReport)">
			</span>

			<span class="btn btn-default btn-lg" href="#" role="button" disabled="disabled">Saved dataset</span>

			<span class="btn btn-default btn-lg" href="#" role="button" disabled="disabled">Web service</span>

		</div>

	</div>

	<div class="startup-step" ng-show="currentStep==='showDataReport'">
		<div class="dimension-summary-left">
			We found <span class="record-count">{{data.recordCount}} records</span>
		</div>
		<div class="dimension-summary-right">
			, with the following features:
		</div>

		<div class="features-list clearfix">
			<dimension-summary ng-repeat="dim in data.dims" dimension="{{dim.name}}" createfn="createChart"></dimension-summary>
		</div>

		<div class="dimension-summary-left">
			<span class="glyphicon glyphicon-hand-up"></span>
		</div>
		<div class="dimension-summary-right dimension-hint">
			&nbsp;Select a feature to start the visualization
		</div>

	</div>

</div>